.article {
  width: auto;
  height: auto;
  margin-bottom: 25px;
  background: #000000;
}

.articleInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articleCat {
  font-size: 11px;
  color: #be9656;
  line-height: 20px;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.articleDetails {
  display: inline-flex;
  text-align: left;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.articleTitle {
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
  color: white;
  padding: 15px;
}

.articleDate {
  font-style: italic;
  font-size: 13px;
  color: #999;
  margin-top: 15px;
}

.postImage {
  display: block;
  height: auto;
  max-width: 100%;
}
