.topbar {
  display: flex;
  padding: 25px;
  gap: 25px;
  align-items: center;
}

.topbar img {
  width: 100%;
  height: 25px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  background: white;
  position: absolute;
  padding: 15px;
  left: -25px;
  width: 100vw;
  height: 100vh;
}

.dropdown.open .dropdown-content {
  display: block;
}

.dropdown-content > a,
.dropdown-content > p {
  display: block;
  margin: 0 0 40px 0;
  padding: 10px;
}

.dropdown-content > i {
  margin-right: 25px;
}

@media (min-width: 768px) {
  .topbar {
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .hamburger-menu {
    display: none;
  }

  .dropdown {
    flex-grow: 2;
  }

  .dropdown-content {
    display: flex;
    justify-content: space-between;
    position: static;
    width: auto;
    height: auto;
    padding: 0;
  }

  .dropdown-content > a,
  .dropdown-content > p {
    font-size: 20px;
    font-family: LarkenBold;
    margin: 0;
  }

  .dropdown-content > i {
    margin: 0;
  }

  .rightCorner > p {
    font-size: 20px;
    font-family: LarkenLight;
    font-style: italic;
    color: #3c5164;
    margin: 0;
    padding: 5px;
  }
  .rightCorner > i {
    margin-right: 25px;
    margin-left: auto;
    float: right;
    padding-block: 10px;
  }

  .inactive {
    color: #fff;
    text-decoration: none;
  }

  .active {
    color: red;
    text-decoration: none;
  }
}
