.sidePreview {
  width: 300px;
  height: 125px;
  flex-direction: column;
  margin: auto;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 25px;
  margin-right: 25px;
}

.text {
  float: right;
  width: 70%;
  height: 80px;
}

.sideImg {
  width: 80px;
  height: 80px;
  float: left;
  clear: both;
}

.cat {
  float: left;
  width: 40%;
  font-size: 12px;
  color: #3c5164;
  text-transform: uppercase;
}
.previewDate {
  font-style: italic;
  font-size: 10px;
  color: #999;
  text-align: left;
  margin-left: 40%;
}

.meta {
  width: 200px;
  /* background: #ccc; */
  float: right;
  text-align: left;
  position: absolute;
}

.previewTitle {
  margin-top: 15px;
  padding: 5px;

  font-weight: 700;
  font-size: 18px;

  text-align: left;
}
