.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #3c5164;
  color: white;
  position: relative;
  padding-top: 3em;
  bottom: 0;
  width: 100%;
}

.container {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 90%;
}

.footer-info-center1 {
  max-width: 200px;
}
.footer-info-center2 > a {
  padding-left: 0.6em;
}
.footer-info-center2 {
  margin-bottom: 15;
}

.footer-info-right > img {
  width: 80%;
  height: 60px;
}

.noDecoration > a:link,
a:visited {
  text-decoration: none !important;
  font-weight: 500;
  color: inherit;
}

a:hover {
  color: black;
  text-decoration: none;
  font-weight: none;
}

.informativa {
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .footer-info-right > img {
    width: 160px;
    height: 60px;
  }
}
